@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url(./assets/fonts/Pretendard-Black.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url(./assets/fonts/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url(./assets/fonts/Pretendard-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url(./assets/fonts/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url(./assets/fonts/Pretendard-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url(./assets/fonts/Pretendard-Regular.woff) format('woff');
}

* {
  color: #fff;
}

body {
  background-color: #000;
}

.font-pd {
  font-family: 'Pretendard', sans-serif;
}

.fb26 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 900;
  font-size: 26pt;
}

.fb20 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  font-size: 20pt;
}

.fb20-l26 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  font-size: 20pt;
  line-height: 26px;
}

.fsb18 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  font-size: 18pt;
}

.fm18 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  font-size: 18pt;
}

.fb16-l26 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  font-size: 16pt;
  line-height: 26px;
}

.fb16-l26-ls5 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  font-size: 16pt;
  line-height: 26px;
  letter-spacing: 5%;
}

.fm16 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  font-size: 16pt;
}

.fr16 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  font-size: 16pt;
}

.fr16-l18-ls-0_17 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  line-height: 18px;
  letter-spacing: -0.17px;
}

.fb15-l26 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  font-size: 15pt;
  line-height: 26px;
}

.fb14-l26 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  font-size: 14pt;
  line-height: 26px;
}

.fr14 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  font-size: 14pt;
}

.fm13-l26-ls2 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  font-size: 13pt;
  line-height: 26px;
  letter-spacing: 2%;
}

.fm12 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  font-size: 12pt;
}

.fm12-l18-ls-0_17 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  font-size: 12pt;
  line-height: 18px;
  letter-spacing: -0.17px;
}
